*{
  margin: 0;
  padding: 0;
  background-color: rgb(190, 187, 187);
  color: rgb(12, 10, 10);
}

#main-Container{
  margin-top: 5Vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wishlist-Container{
  margin-top: 5Vh;
  display: flex;
  justify-content: center;
  align-items: center;
}