@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL,ROND@0..1,100&icon_names=home,palette,settings&display=block);

* {
  margin: 0;
  padding: 0;
  color: rgb(12, 10, 10);
}

.app-Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 229, 229);
}

.app-Name {
  margin: 10px;
  font-size: 35px;
}

.repeated-Msg {
  color: red;
}

.input-Container {
  margin: 10px;
  min-width: 400px;
  max-width: 1000px;
}

.input {
  align-self: left;
  width: 300px;
  height: 25px;
  margin: 10px;
}

.add-Btn {
  margin-right: auto;
  width: 80px;
  height: 30px;
  font-size: 18px;
}



.todo-Container {
  margin: 10px;
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.todo {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.check-Box {
  margin-left: 10px;
  margin-top: 4px;
  align-content: left;
  width: 16px;
  height: 16px;
}



.todoLabel {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.textStrikeThrough {
  text-decoration: line-through;
}

.delete-Btn {
  margin-left: auto;
  font-size: 8px;
  border: none;
  background-color: transparent;
}

.material-symbols-outlined {
  margin-top: auto;
}

.none-D{
  display: none;
}